@page "/counter/{currentCountParameter?}"
@inject ILogger<Counter> _logger;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current Count: @currentcount</p>

@code {

  [SupplyParameterFromQuery]
  [Parameter]
  public string? CounterFromQuery { get; set; }

  [Parameter]
  public string? currentCountParameter { get; set; }

  private int currentcount = 0;

  public override async Task SetParametersAsync(ParameterView parameters)
  {
    // Este siempre es el primero que se ejecuta
    if (parameters.TryGetValue<string>(nameof(currentCountParameter), out var value))
    {
      currentCountParameter = value ?? currentCountParameter;
    }
  
    await base.SetParametersAsync(parameters);
  }

  protected override void OnParametersSet()
  {
    _logger.LogInformation("Send parameters");
  }

  protected override void OnInitialized()
  {
    _logger.LogInformation("al iniciar la app");
    currentcount = int.Parse(CounterFromQuery ?? "0");
  }

  protected override void OnAfterRender(bool firstRender)
  {
    _logger.LogInformation("Despues de iniciado el componente");
  }
}